#pop_detail_body{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.xinxi {
  color: #666;
  clear: both;
  height: 45px;
  line-height: 45px
}

.xinxi a {
  color: #666
}

.pop_fangda {
  color: #999;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.pop_fangda:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

#box_lwrap {
  float: left;
  position: relative;
  width: 40%
}

#box_l {
  position: relative;
  padding: 0;
  width: 415px;
  height: 390px;
  overflow: hidden
}

#box_l img {
  width: 415px;
  height: 390px;
}

#box_r {
  overflow: hidden;
  position: absolute;
  width: 415px;
  height: 390px;
  border: 5px solid #fff;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #666;
  right: -420px;
  top: 0;
  display: none;
  z-index: 10
}

#box_r img {
  position: absolute;
  display: block;
  width: 830px;
  height: 780px;
  top: 0;
  left: 0
}

#shou {
  display: none;
  position: absolute;
  width: 208px;
  height: 195px;
  background: pink;
  opacity: .4;
  z-index: 5
}

.zhuangzheta {
  position: relative;
  height: 66px;
}

.zhuangzheta .box_chuangkou {
  position: absolute;
  width: 310px;
  height: 66px;
  overflow: hidden;
  left: 38px
}

.zhuangzheta .box_chuangkou ul {
  position: absolute;
  width: 1000px;
  height: 66px;
  left: 0;
  top: 0
}

.zhuangzheta .box_chuangkou ul li {
  opacity: .5;
  float: left;
  height: 66px;
  height:66px;
  width: 66px
}

.zhuangzheta .box_chuangkou ul li img {
  z-index:20;
  height: 66px;
  width: 66px;
  display: inline-block
}

.zhuangzheta .zhea {
  float: left;
  background: url(../img/un_pop_btn.jpg) no-repeat -422px -4px;
  height: 42px;
  width: 20px;
  opacity: .7;
  margin-top: 10px
}

.zhuangzheta .zheb {
  float: right;
  background: url(../img/un_pop_btn.jpg) no-repeat -425px -63px;
  height: 42px;
  width: 20px;
  opacity: .7;
  margin-top: 10px
}

.zhuangzheta .disabled {
  opacity: .3;
  cursor: default
}

#box_rwrap {
  float: right;
  position: relative;
  width: 55%
}

#box_rwrap .pop_text {
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  font-weight: 700
}
#box_rwrap>span{
  font: normal 12px/20px "宋体";
    color: #fc407a;
}
#box_rwrap .pop_manj {
  height: 35px
}

#box_rwrap .pop_manj a {
  padding: 0 5px;
  display: inline-block;
  border-right: 1px solid #cecece
}

.pop_pic {
  color: #666;
  position: relative
}

.pop_pic:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.pop_pic span {
  float: left
}

.pop_pic .price_now {
  font-size: 38px
}

.pop_pic .yen {
  font-size: 24px;
  font-family: arial;
  vertical-align: top;
  line-height: 1.4;
  float: left
}

.pop_pic .pop_timer_wrap {
  padding: 10px 0;
  float: left;
  clear: both
}

.pop_pic .pop_timer_wrap .pop_detail_timer {
  font-size: 14px
}

.pop_manjian {
  height: 20px;
  font-size: 12px;
  color: #999
}

.heise {
  color: #fff;
  background: #000
}

.dot_line {
  height: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #cecece;
  margin: 14px 0
}

.zuoduoyidian {
  margin-right: 10px
}

.pop_zuihou {
  font-size: 16px;
  color: #999;
  height: 42px
}

.pop_ul {
  height: 100px;
  width: 100%
}

.pop_ul li {
  float: left;
  line-height: 34px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  top: 9px;
  border: 1px solid #cecece;
  cursor: pointer;
  padding: 0 10px;
  height: 34px;
  margin-bottom: 5px;
  margin-right: 5px;
  box-sizing: border-box
}

.pop_ul li:hover {
  border: 1px solid red
}

.change_wrap {
  overflow: hidden;
  zoom: 1;
  line-height: 43px
}

.change_wrap dt {
  float: left;
  text-align: left;
  color: #666;
  padding-right: 20px;
  line-height: 43px
}

.pop_amount_wrap {
  width: 55px;
  height: 26px;
  float: left;
  position: relative;
  top: 10px;
  background: url(../img/pop_detail_icon.png) no-repeat 0 -20px
}

.pop_amount_wrap a {
  width: 15px;
  height: 12px;
  position: absolute;
  right: 0
}

.amout_input {
  background: 0 0;
  border: none;
  float: left;
  width: 40px;
  height: 24px;
  line-height: 26px;
  text-align: center
}

.pop_amount_wrap .decrease_num {
  top: 12px
}

#gotocart {
  height: 48px;
  width: 100%;
  padding: 20px 0
}

#gotocart #add_to_cart {
  height: 46px;
  border: 1px solid #e01558;
  background-color: #ed145b;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  width: 195px
}

#gotocart #add_to_cart i {
  width: 23px;
  height: 23px;
  top: 7px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  background: url(../img/ie6_cart.png) no-repeat left top
}

.three_info_note {
  margin: 12px 0 0;
  font-size: 12px;
  color: #666
}

.three_info_note .three_business {
  color: #ed145b;
  cursor: pointer
}

.deal_detai {
  margin: 20px auto 0;
  width: 960px
}

.deal_detai:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.deal_nav_con {
  height: 38px;
  width: 958px;
  z-index: 9;
  border: 1px solid #ececec;
  border-bottom-width: 2px;
  background: #fff
}

.deal_nav_con .deal_nav {
  width: 958px;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  overflow: hidden
}

.deal_nav_con .deal_nav ul {
  font-size: 14px;
  text-align: center;
  float: left;
  line-height: 38px
}

.deal_nav_con .deal_nav li {
  float: left;
  width: 90px;
  position: relative;
  border-left: 1px solid #fff;
  height: 38px
}

.deal_nav_con .deal_nav li a {
  color: #333
}

.deal_nav_con .deal_nav li em {
  width: 1px;
  height: 30px;
  background-position: -199px -20px;
  position: absolute;
  left: auto;
  right: 0;
  top: 10px
}

.sell_status {
  width: 195px;
  height: 40px;
  position: relative;
  top: -1px;
  display: none;
  float: right;
  text-align: center;
  line-height: 40px
}

.sell_status a {
  color: #fff
}

.on_sell {
  background: #ed145b
}

#xiangqingjieshao .deal_film,
.deal_intro {
  padding: 15px 14px 0
}

.deal_tit {
  height: 60px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  margin-bottom: 20px
}

.deal_tit h1 {
  height: 60px;
  line-height: 60px;
  font-weight: 300;
  padding-left: 5px;
  font-size: 22px;
  color: #000
}

.deal_intro .deal_tit i {
  background-position: 0 -24px;
  width: 269px
}
.deal_com {
  width: 800px;
  overflow: hidden;
  margin: auto
}
 .buybt {
  height: 40px;
  overflow: hidden;
  padding: 8px 0;
}
.buybt img{
  display: inline-block
}

.jiazai_wrap {
  font-size: 14px;
  padding-bottom: 35px;
  width: 800px;
  overflow: hidden;
  margin: auto;
  min-height: 1800px
}
.itemin_price {
  padding: 15px 0;
  margin-top: 15px;
  border-top: #ddd 1px dashed;
}
.gray {
  color: #aaa;
}
.now_price {
  font: normal 15px/35px "微软雅黑";
}
.red {
  color: #ee135b;
}
.itemin_price ul li {
  line-height: 2;
}
.jiazai_wrap li {
  position: relative;
  margin-bottom: 20px
}

.jiazai_wrap li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.jiazai_wrap li img {
  margin: 0 auto
}

.nav_er img {
  width: 960px !important
}